*.log
.DS_Store
Desktop.ini
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.fleet
/.history
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
npm-debug.log*
yarn-error.log
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
